ul#twitter_update_list
  width: 225px
  margin: 0 0 20px 0
  padding: 0 0 15px 0
  float: left

#twitter_update_list li
  font-family: "Droid Sans", Helvetica, Arial, sans-serif
  font-size: 11px
  margin: 10px 0 15px 0
  list-style: none

#twitter_update_list li span
  font-family: "Droid Sans", Helvetica, Arial, sans-serif
  font-size: 11px

#twitter_update_list li a
  font-family: "Droid Sans", Helvetica, Arial, sans-serif
  font-size: 11px
  list-style: none

p.preLoader
  font-size: 11px

#flickr
  width: 225px
  float: left
  border-bottom: 1px dotted #e2e2e2
  margin: 20px 0 20px 0
  padding: 0 0 15px 0

#flickr a img
  width: 52px
  height: 52px

