#contact_form
  ul.fields
    w 100%
    li.field
      m 0 0 1em
      position relative
      input[type=text], textarea
        input()

      label.error
        absolute top 0 right -320px
        lh 3em
        p 0 1em
        c #f00
        ta left
        w 320px
        box-sizing border-box

  textarea
    height 150px

  input[type="submit"]
    button()
    s 16px
    w cw*4
    p 0

.champagne
  p 10px
  b 5px solid m40
  ml 50px
  float left
  img
    w 240px
    display block
