#home_custom
  position relative

  ul
    li
      col 4
      mr 1px
      a
        display block
        h 160px
        bg m40
        c #fff
        p 1.5em 2em
        cursor pointer
        &:hover
          c link
