#landing
  ul
    m 0 70px
    li
      float left
      a
        display block
        w 360px
        p 14px
        b 1px solid m40
        position relative
        &:hover
          bc link
          span
            c link
        img
          display block

        span
          text-align center
          display block
          absolute bottom -3em left 0
          w 360px
          ff serif
          c txt
      &.portfolio
        mr 40px
