p.alert
  absolute top .5em right 0

.packages
  span 12
  mb 3em

  .package
    w cw*4 + x*2 - 1px
    display table-cell
    br 1px solid m40
    p 0 2em
    box-sizing border-box
    va top

    &:first-of-type
      pl 0
      w cw*4 - x
    &:last-of-type
      pr 0
      br none
      w cw*4 - x

    h2
      mb 0 !important
      ff serif !important

    h3 
      mb 2em !important

    strong
      display block
      lh 1.5em

    p, ul
      s 85%

    ul
      li
        m 0 0 1.5em
