.packages
  span 12
  mb 3em

  .package
    w cw*4 - 1px
    display table-cell
    bg m40
    br 1px solid b30
    p 1.5em 2em
    box-sizing border-box
    va top
    &:last-of-type
      br none
      w cw*4

    h2
      mb 0 !important

    h3 
      mb 1.5em

    strong
      display block
      lh 1.5em

    p, ul
      s 85%

    ul
      li
        m 0 0 1.5em
