#comments
  border-top: 1px solid #e2e2e2

ul#commentlist
  margin: 0
  padding: 0

ul#commentlist li
  min-height: 125px
  width: 550px
  padding: 10px 0 10px 0

ul#commentlist li.alt
  background: #ffffff
  border-top: 1px solid #e2e2e2
  margin: 0

ul#commentlist li.standard
  background: #f9f9f9
  border-top: 1px solid #e2e2e2
  margin: 0

.singlecomment, .singlecomment-admin
  width: 75px
  float: left
  margin: 0 0 0 10px

.singlecomment p span.small, .singlecomment-admin p span.small
  font-size: 10px

.commenttext, .commenttext-admin
  width: 425px
  float: left

#commentsform
  border-top: 1px solid #e2e2e2
  float: left
  padding: 10px 0 0 0

#commentform input[type="text"]
  width: 525px
  color: #757575
  font-family: "Droid Sans", Helvetica, Arial, sans-serif
  font-size: 12px
  border: 1px solid #e2e2e2
  padding: 8px
  margin: 10px 0 15px 0

#commentform textarea
  width: 525px
  color: #757575
  font-family: "Droid Sans", Helvetica, Arial, sans-serif
  font-size: 12px
  height: 150px
  border: 1px solid #e2e2e2
  padding: 8px
  margin: 10px 0 15px 0

#commentform h3#reply-title
  font-size: 16px

#commentform p.form-allowed-tags, #commentform p.form-allowed-tags code
  font-size: 11px

#commentform input#submit
  background-color: #353535
  border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  font-family: "Droid Sans", Helvetica, Arial, sans-serif
  font-size: 12px
  color: #ffffff
  border: none
  margin: 10px 0 0 0
  padding: 5px 8px 5px 8px
  float: right

#commentform input#submit:hover
  background-color: #757575
  cursor: pointer

