#comments
  ul#commentlist
    mb 4em !important
    li
      clearfix()
      w 100%
      position relative

      &:nth-of-type(odd)
        bg w5

      .singlecomment, .singlecomment-admin
        float left
        w 160px
        p 1.5em 0 1.5em 1.5em
        box-sizing border-box

        p
          va bottom
          img 
            float left
            pr .5em
            d block
          img + br
            d none
          span.small
            d block
            float left
            df()
            s 13px
      em
        font italic 75%/1.5 sans
        c #666
        absolute top 1em right 1em

      .commenttext, .commenttext-admin
        float left
        w 480px
        p 1.5em
        box-sizing border-box
        va top

#commentsform
  mar 0 0 1.5em
  p
    position relative
    clearfix()
    mb 1em !important
    &.form-allowed-tags
      s 12px
      ml 160px
      va text-bottom
      code
        s 12px
    &.form-submit
      ml 160px
  label
    float left
    width 160px
  label + span
    absolute top 0 left 160px - x
    display block
    w x
  input, textarea
    input()
    float left
    width 480px
  textarea
    h 10em

#commentform input#submit
  button()
