.postmeta
  color: #757575
  text-shadow: 1px 1px 0px #ffffff
  text-transform: uppercase
  font-size: 9px
  letter-spacing: 0.5px
  font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif
  padding: 13px 0 10px 3px
  border-top: 1px solid #e2e2e2
  border-bottom: 1px dotted #e2e2e2

.postmeta a
  font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif
  font-size: 9px
  letter-spacing: 0.5px
  margin: 0 0 0 20px

.postmeta img
  border: none
  background: none
  position: absolute
  margin: -8px 0 0 0

.postmeta a img:hover
  cursor: inherit

.postmeta .addthis_toolbox
  padding: 0 25px 0 0
  float: right

body.ie .postmeta .addthis_toolbox
  padding: 0 45px 0 0

.postmeta ul.addthis_toolbox a img
  float: left
  margin: 0
  padding: 0

