.postnavi
  width: 550px
  margin: 0 0 10px 0
  padding: 25px 0 0 0
  border-top: 1px solid #e2e2e2
  float: left

.postnavi a, .postnavi a:visited
  color: #757575
  background-image: url(../img/btn_bg.jpg)
  background-repeat: repeat-x
  background-position: 0 0
  text-align: center
  border: 2px solid #dddddd
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  border-radius: 25px
  font-size: 12px
  font-weight: bold
  padding: 5px 10px 5px 10px
  margin: 10px 5px 0 0
  text-shadow: 1px 1px 0px #ffffff
  float: left

.postnavi a:hover, .postnavi a:visited:hover
  background-position: 0 -35px
  text-decoration: none
  border: 2px solid #dddddd

