#aside
  col 4
  box-sizing border-box

  ul.widgets
    bl 1px solid m40
    pl x
    s 85%
    li.widget
      p x*2 0 0
      h3
        s 85%
        tt uppercase
        ls 2px
        c #444
        m 0 0 x
        p 0 1em
      ul
        li
          a
            display block
            transition()
            p 0 1em

form#searchform
  display none
