#aside
  col 4
  pl 1em
  box-sizing border-box

  ul.widgets
    li.widget
      m 0 0 2em
      h3
        s 85%
        tt uppercase
        ls 2px
        c #777
        m 0 0 x
        p 0 1em
      ul
        li
          a
            lh x*2
            display block
            transition()
            p 0 1em
            &:hover
              bg m40

form#searchform
  display none
