html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:text-bottom;outline:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
del{text-decoration:line-through}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ul,ol{list-style:none}
:focus{outline:none}
strong{font-weight:bold}
em{font-style:italic}
input[type="submit"],button,.more-link a,a.more-link{display:inline-block;border:none;cursor:pointer;padding:0 2em;margin:0;line-height:3em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #464646), color-stop(1, #3c3c3c));background:-webkit-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:-moz-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:linear-gradient(top, #464646 0%, #3c3c3c 100%);color:#fff;}
input[type="submit"]:hover,button:hover,.more-link a:hover,a.more-link:hover,input[type="submit"]:focus,button:focus,.more-link a:focus,a.more-link:focus{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #4b4b4b), color-stop(1, #414141));background:-webkit-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:-moz-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:linear-gradient(top, #4b4b4b 0%, #414141 100%)}
input[type="submit"]:active,button:active,.more-link a:active,a.more-link:active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #323232), color-stop(1, #414141));background:-webkit-linear-gradient(top, #323232 0%, #414141 100%);background:-moz-linear-gradient(top, #323232 0%, #414141 100%);background:linear-gradient(top, #323232 0%, #414141 100%)}
a{vertical-align:top;color:#0ae;text-decoration:none;}
a:hover,a:focus{color:#fff}
html{height:100%}
body{font-size:16px;line-height:1.5;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;color:#ccc;background:#1e1e1e;overflow-x:hidden;padding-top:64px;}
body.fs{overflow:hidden}
#contentWrapper{width:960px;margin:0 auto;zoom:1;padding:64px 0;}
#contentWrapper:before,#contentWrapper:after{content:"";display:table}
#contentWrapper:after{clear:both}
#contentWrapper #content{position:relative;z-index:10;}
#contentWrapper #content h1{font:200%/1.5 Georgia,"serif";margin-bottom:1.5em;-webkit-font-smoothing:antialiased;color:#fff;}
#contentWrapper #content h1 a{color:#fff;}
#contentWrapper #content h1 a:hover{color:#0ae}
#contentWrapper #content #pageWrapper{width:640px;float:left;-webkit-box-sizing:;-moz-box-sizing:;box-sizing:;-webkit-font-smoothing:antialiased;}
#contentWrapper #content #pageWrapper > p:first-of-type{font-size:150%;font-family:Georgia,"serif"}
#contentWrapper #content #pageWrapper img.alignnone,#contentWrapper #content #pageWrapper img.alignleft,#contentWrapper #content #pageWrapper img.alignright{margin:0 0 1em}
#contentWrapper #content #pageWrapper h2,#contentWrapper #content #pageWrapper .h2{font:150%/1.5 Georgia,"serif";display:block;margin-bottom:16px;}
#contentWrapper #content #pageWrapper h2 a,#contentWrapper #content #pageWrapper .h2 a{color:#ccc;border-bottom:1px solid transparent;}
#contentWrapper #content #pageWrapper h2 a:hover,#contentWrapper #content #pageWrapper .h2 a:hover{border-color:anchor}
#contentWrapper #content #pageWrapper h3{font:italic 1em/1.5 Georgia,"serif";margin-bottom:16px;color:#999}
#contentWrapper #content #pageWrapper p,#contentWrapper #content #pageWrapper ul,#contentWrapper #content #pageWrapper ol{margin-bottom:1.5em}
#contentWrapper #content #pageWrapper ol li{list-style:decimal}
#contentWrapper #content #pageWrapper pre,#contentWrapper #content #pageWrapper code{font-family:monospace;font-size:13px}
#contentWrapper #content #pageWrapper sup{bottom:1ex}
#contentWrapper #content #pageWrapper sub{top:.5ex}
#contentWrapper #content #pageWrapper blockquote{font-size:1.5em;padding-left:1.5em;border-left:5px solid rgba(255,255,255,0.1);margin-bottom:1.5em}
#landing ul{margin:0 70px;}
#landing ul li{float:left;}
#landing ul li a{display:block;width:360px;padding:14px;border:1px solid #282828;position:relative;}
#landing ul li a:hover{border-color:#0ae;}
#landing ul li a:hover span{color:#0ae}
#landing ul li a img{display:block}
#landing ul li a span{text-align:center;display:block;position:absolute;bottom:-3em;left:0;width:360px;font-family:Georgia,"serif";color:#ccc}
#landing ul li.portfolio{margin-right:40px}
#slideshow{margin-top:-6em;background:#1e1e1e;height:480px;width:960px;position:relative;z-index:1000;}
#slideshow ul.slides li img{display:block}
body.fs img.preview{position:absolute;left:0;top:0;width:100%}
#imageWrapper{position:fixed;bottom:0;((null)):0;width:100%}
#image_scroller{background:url("img/trans_bg.png");background:rgba(0,0,0,0.7);position:relative;overflow:hidden;}
#image_scroller .container{position:relative;left:0;((null)):0;padding:16px 0;zoom:1;height:122px;overflow:hidden;}
#image_scroller .container:before,#image_scroller .container:after{content:"";display:table}
#image_scroller .container:after{clear:both}
#image_scroller .container .image{float:left;}
#image_scroller .container .image img,#image_scroller .container .image img.clone{display:block;width:180px;height:120px;border:1px solid #000;border-right:none}
#overlay{width:100%;height:100%;position:fixed;top:0;left:0;background:transparent url("img/icons/overlay.png") repeat bottom left}
#loading{display:none;position:fixed;top:50%;left:50%;margin:-35px 0 0 -35px;background:#000 url("img/icons/loader.gif") no-repeat center center;width:70px;height:70px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;z-index:999;opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
#next,#prev{width:50px;height:50px;position:fixed;top:45%;cursor:pointer;opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}
#next:hover,#prev:hover{opacity:.9;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90)}
#next{background:#000 url("img/icons/next.png") no-repeat center center;right:-50px}
#prev{background:#000 url("img/icons/prev.png") no-repeat center center;right:-50px}
#toggle{width:50px;height:50px;line-height:50px;background:#000 url("img/toggle.png") no-repeat center center;text-align:center;letter-spacing:1px;position:fixed;position:fixed;bottom:25px;left:50%;margin-left:-25px;cursor:pointer;opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);text-indent:-9999px;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
#toggle:hover{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
p.alert{position:absolute;top:.5em;right:0}
.packages{width:960px;margin:3em 0;}
.packages .package{width:351px;display:table-cell;border-right:1px solid #282828;padding:0 2em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:top;}
.packages .package:first-of-type{padding-left:0;width:304px}
.packages .package:last-of-type{padding-right:0;border-right:none;width:304px}
.packages .package h2{margin-bottom:0 !important;font-family:Georgia,"serif" !important}
.packages .package h3{margin-bottom:2em !important}
.packages .package strong{display:block;line-height:1.5em}
.packages .package p,.packages .package ul{font-size:85%}
.packages .package ul li{margin:0 0 1.5em}
#contentWrapper #content #pageWrapper ul.posts li.post.excerpt a{display:block;padding:2em 0 0;-webkit-transition:;-moz-transition:;}
#contentWrapper #content #pageWrapper ul.posts li.post.excerpt a h2{font:150%/1 Georgia,"serif";margin:0 0 4.8px !important;-webkit-font-smoothing:antialiased}
#contentWrapper #content #pageWrapper ul.posts li.post.excerpt a p{margin:0 !important;font-size:85%;}
#contentWrapper #content #pageWrapper ul.posts li.post.excerpt a p.time{color:#666}
#contentWrapper #content #pageWrapper ul.posts li.post.excerpt a:hover h2{color:#0ae}
#contentWrapper #content #pageWrapper .post.single{padding-right:4em;}
#contentWrapper #content #pageWrapper .post.single p{font-family:Georgia,"serif";}
#contentWrapper #content #pageWrapper .post.single p.time{color:#666;margin:-3em 0 3em !important}
#contentWrapper #content #pageWrapper .post.single h1,#contentWrapper #content #pageWrapper .post.single h2,#contentWrapper #content #pageWrapper .post.single h3,#contentWrapper #content #pageWrapper .post.single h4,#contentWrapper #content #pageWrapper .post.single h5,#contentWrapper #content #pageWrapper .post.single h6{margin:0 0 24px}
#contentWrapper #content #pageWrapper .post.single img{max-width:100%;background:rgba(255,255,255,0.1);padding:10px;padding:5px;margin:0 10px 10px 0}
#contentWrapper #content #pageWrapper .post.single body.ie img{max-width:535px;max-height:400px}
#contentWrapper #content #pageWrapper .post.single a img:hover{opacity:.75;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=75);cursor:url("img/zoom.cur")}
#contentWrapper #content #pageWrapper .post.single img.attachment-post-thumbnail{max-width:535px;max-height:200px}
#contentWrapper #content #pageWrapper #back{padding:48px 0 64px}
#comments ul#commentlist{margin-bottom:4em !important;}
#comments ul#commentlist li{zoom:1;width:100%;position:relative;}
#comments ul#commentlist li:before,#comments ul#commentlist li:after{content:"";display:table}
#comments ul#commentlist li:after{clear:both}
#comments ul#commentlist li:nth-of-type(odd){background:rgba(255,255,255,0.05)}
#comments ul#commentlist li .singlecomment,#comments ul#commentlist li .singlecomment-admin{float:left;width:160px;padding:1.5em 0 1.5em 1.5em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#comments ul#commentlist li .singlecomment p,#comments ul#commentlist li .singlecomment-admin p{vertical-align:bottom;}
#comments ul#commentlist li .singlecomment p img,#comments ul#commentlist li .singlecomment-admin p img{float:left;padding-right:.5em;display:block}
#comments ul#commentlist li .singlecomment p img + br,#comments ul#commentlist li .singlecomment-admin p img + br{display:none}
#comments ul#commentlist li .singlecomment p span.small,#comments ul#commentlist li .singlecomment-admin p span.small{display:block;float:left;font-size:16px;line-height:1.5;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;color:#ccc;font-size:13px}
#comments ul#commentlist li em{font:italic 75%/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;color:#666;position:absolute;top:1em;right:1em}
#comments ul#commentlist li .commenttext,#comments ul#commentlist li .commenttext-admin{float:left;width:480px;padding:1.5em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:top}
#commentsform{mar:0 0 1.5em;}
#commentsform p{position:relative;zoom:1;margin-bottom:1em !important;}
#commentsform p:before,#commentsform p:after{content:"";display:table}
#commentsform p:after{clear:both}
#commentsform p.form-allowed-tags{font-size:12px;margin-left:160px;vertical-align:text-bottom;}
#commentsform p.form-allowed-tags code{font-size:12px}
#commentsform p.form-submit{margin-left:160px}
#commentsform label{float:left;width:160px}
#commentsform label + span{position:absolute;top:0;left:144px;display:block;width:16px}
#commentsform input,#commentsform textarea{width:100%;background:#282828;border:none;font:1em/1 "Helvetica Neue",Arial,Helvetica,sans-serif;color:#ccc;padding:1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;display:block;-webkit-font-smoothing:antialiased;float:left;width:480px}
#commentsform textarea{height:10em}
#commentform input#submit{display:inline-block;border:none;cursor:pointer;padding:0 2em;margin:0;font-size:16px;line-height:1.5;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;color:#ccc;line-height:3em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #464646), color-stop(1, #3c3c3c));background:-webkit-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:-moz-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:linear-gradient(top, #464646 0%, #3c3c3c 100%);color:#fff;}
#commentform input#submit:hover,#commentform input#submit:focus{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #4b4b4b), color-stop(1, #414141));background:-webkit-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:-moz-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:linear-gradient(top, #4b4b4b 0%, #414141 100%)}
#commentform input#submit:active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #323232), color-stop(1, #414141));background:-webkit-linear-gradient(top, #323232 0%, #414141 100%);background:-moz-linear-gradient(top, #323232 0%, #414141 100%);background:linear-gradient(top, #323232 0%, #414141 100%)}
#aside{width:320px;float:left;-webkit-box-sizing:;-moz-box-sizing:;box-sizing:;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#aside ul.widgets{border-left:1px solid #282828;padding-left:16px;font-size:85%;}
#aside ul.widgets li.widget{padding:32px 0 0;}
#aside ul.widgets li.widget h3{font-size:85%;text-transform:uppercase;letter-spacing:2px;color:#444;margin:0 0 16px;padding:0 1em}
#aside ul.widgets li.widget ul li a{display:block;-webkit-transition:;-moz-transition:;padding:0 1em}
form#searchform{display:none}
#contact_form ul.fields{width:100%;}
#contact_form ul.fields li.field{margin:0 0 1em;position:relative;}
#contact_form ul.fields li.field input[type=text],#contact_form ul.fields li.field textarea{width:100%;background:#282828;border:none;font:1em/1 "Helvetica Neue",Arial,Helvetica,sans-serif;color:#ccc;padding:1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;display:block;-webkit-font-smoothing:antialiased}
#contact_form ul.fields li.field label.error{position:absolute;top:0;right:-320px;line-height:3em;padding:0 1em;color:#f00;text-align:left;width:320px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#contact_form textarea{height:150px}
#contact_form input[type="submit"]{display:inline-block;border:none;cursor:pointer;padding:0 2em;margin:0;font-size:16px;line-height:1.5;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;color:#ccc;line-height:3em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #464646), color-stop(1, #3c3c3c));background:-webkit-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:-moz-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:linear-gradient(top, #464646 0%, #3c3c3c 100%);color:#fff;font-size:16px;width:320px;padding:0}
#contact_form input[type="submit"]:hover,#contact_form input[type="submit"]:focus{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #4b4b4b), color-stop(1, #414141));background:-webkit-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:-moz-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:linear-gradient(top, #4b4b4b 0%, #414141 100%)}
#contact_form input[type="submit"]:active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #323232), color-stop(1, #414141));background:-webkit-linear-gradient(top, #323232 0%, #414141 100%);background:-moz-linear-gradient(top, #323232 0%, #414141 100%);background:linear-gradient(top, #323232 0%, #414141 100%)}
.champagne{padding:14px;border:1px solid #282828;margin-left:50px;float:left;}
.champagne img{width:240px;display:block}
#footer{border-top:3px solid #000;width:100%;height:64px;background:rgba(0,0,0,0.7);top:0;position:fixed;z-index:10;}
#footer a{color:#aaa;}
#footer a:hover{color:#fff}
#footer #nav{width:960px;margin:0 auto;zoom:1;margin-top:-3px;}
#footer #nav:before,#footer #nav:after{content:"";display:table}
#footer #nav:after{clear:both}
#footer #nav a#logo,#footer #nav .menu > ul > li{border-top:3px solid transparent;border-right:1px solid rgba(255,255,255,0.09);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#footer #nav a#logo{width:320px;float:left;-webkit-box-sizing:;-moz-box-sizing:;box-sizing:;}
#footer #nav a#logo h1{font:110% /48px Georgia,"serif";padding:16px 0 0;color:#999;-webkit-font-smoothing:antialiased;}
#footer #nav a#logo h1 span.name{color:#fff;vertical-align:top}
#footer #nav a#logo:hover{border-top-color:#0ae}
#footer #nav .menu{width:640px;float:left;-webkit-box-sizing:;-moz-box-sizing:;box-sizing:;font:75% "Helvetica Neue",Arial,Helvetica,sans-serif;}
#footer #nav .menu > ul > li{display:inline-block;text-align:right;width:160px;position:relative;}
#footer #nav .menu > ul > li > a{display:block;line-height:24px;padding:32px 2em 8px;position:relative;z-index:300}
#footer #nav .menu > ul > li:hover,#footer #nav .menu > ul > li.current_page_item{border-top-color:#0ae}
#footer #nav .menu > ul > li ul{width:160px;display:none;position:absolute;top:64px;left:-1px;z-index:150;background:#282828;}
#footer #nav .menu > ul > li ul li{background:transparent url("img/trans_bg.png") repeat;display:block;border-top:1px solid rgba(255,255,255,0.1);padding:0 2em;position:relative;z-index:99999;}
#footer #nav .menu > ul > li ul li:last-of-type{border-bottom:none}
#footer #nav .menu > ul > li ul li a{display:block;line-height:32px;position:relative;z-index:200;}
#footer #nav .menu > ul > li ul li a:hover{color:#0ae}
#footer #nav .menu > ul > li ul li ul{display:none;position:absolute;top:-1px;left:160px;z-index:225;}
#footer #nav .menu > ul > li ul li ul li{border-left:1px solid rgba(255,255,255,0.1)}
.attachment .entry-content .entry-caption{font-size:140%;margin-top:24px}
.attachment .entry-content .nav-previous a:before{content:"\2190\00a0"}
.attachment .entry-content .nav-next a:after{content:"\00a0\2192"}
#calendar_wrap{background-color:#dfdfdf}
table#wp-calendar{border-collapse:collapse;margin:0 0 .4em;width:100%;background-color:#808080;margin-bottom:0;border-spacing:0;text-shadow:1px 1px 0 #fff}
#wp-calendar td{background-color:#fff;border:1px solid #cfcfcf;color:#808080;padding:6px}
#wp-calendar th{background-color:#eee;border:1px solid #cfcfcf;color:#808080;padding:3px 0;font-weight:bold;text-align:center}
#wp-calendar caption{color:#808080;font-weight:bold;text-align:center;padding:10px}
img.size-auto,img.size-full,img.size-large,img.size-medium,.attachment img{max-width:535px;height:auto}
.alignleft,img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px}
.alignright,img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px}
.aligncenter,img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
img.alignleft,img.alignright,img.aligncenter{margin-bottom:10px}
.wp-caption{background:#f1f1f1;line-height:18px;margin-bottom:20px;max-width:675px;padding:5px;text-align:center}
.wp-caption img{margin:0 10px 10px 0}
.wp-caption p.wp-caption-text{color:#757575;font-size:12px;margin:5px}
.wp-smiley{margin:0}
.gallery{margin:0 auto 18px}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%}
.gallery-columns-2 .gallery-item{width:50%}
.gallery-columns-4 .gallery-item{width:25%}
.gallery img{border:2px solid #e2e2e2}
.gallery-columns-2 .attachment-medium{max-width:92%;height:auto}
.gallery-columns-4 .attachment-thumbnail{max-width:84%;height:auto}
.gallery .gallery-caption{color:#757575;font-size:12px;margin:0 0 12px}
.gallery dl{margin:0}
.gallery img{border:10px solid #e2e2e2}
.gallery br+br{display:none}
#content .attachment img{display:block;margin:0 auto}
ul#twitter_update_list{width:225px;margin:0 0 20px 0;padding:0 0 15px 0;float:left}
#twitter_update_list li{font-family:"Droid Sans",Helvetica,Arial,sans-serif;font-size:11px;margin:10px 0 15px 0;list-style:none}
#twitter_update_list li span{font-family:"Droid Sans",Helvetica,Arial,sans-serif;font-size:11px}
#twitter_update_list li a{font-family:"Droid Sans",Helvetica,Arial,sans-serif;font-size:11px;list-style:none}
p.preLoader{font-size:11px}
#flickr{width:225px;float:left;border-bottom:1px dotted #e2e2e2;margin:20px 0 20px 0;padding:0 0 15px 0}
#flickr a img{width:52px;height:52px}
.one_full{width:550px;margin:0;float:left}
.one_half{width:260px;margin:0 15px 0 0;float:left}
.one_half_last{width:260px;margin:0;float:right}
.one_third{width:160px;margin:0 30px 0 0;float:left}
.one_third_last{width:160px;margin:0;float:right}
.two_third{width:340px;margin:0 30px 0 0;float:left}
.two_third_last{width:320px;margin:0;float:right}
.one_quarter{width:115px;margin:0 30px 0 0;float:left}
.one_quarter_last{width:115px;margin:0;float:right}
.default_box{background-color:#f7f7f7;border:1px solid #bcbcbc;color:#808080;padding:10px}
.notice_box{background-color:#ffffe0;border:1px solid #e6db55;color:#c7b634;padding:10px}
.warning_box{background-color:#ffdfdf;border:1px solid #f00;color:#f00;padding:10px}
.success_box{background-color:#e2f3c3;border:1px solid #7be568;color:#708421;padding:10px}
.download_box{background-color:#aad0e4;border:1px solid #0097ce;color:#0097ce;padding:10px}
.default_box,.notice_box,.warning_box,.success_box,.download_box{font-family:"Droid Sans",Helvetica,Arial,sans-serif;font-size:12px;width:530px;margin:5px 0 5px 0;float:left;text-shadow:none;line-height:20px}
.default_box img,.notice_box img,.warning_box img,.success_box img,.download_box img{width:16px;height:16px;margin:0 5px 0 0;padding:0;border:none;float:left}
.bullet_list li,.arrow_list li,.check_list li{margin:0 0 0 10px}
.bullet_list li{list-style-image:url("img/bullet.png")}
.arrow_list li{list-style-image:url("img/arrow.png")}
.check_list li{list-style-image:url("img/check.png")}
.ui-accordion-content{padding:15px 0 15px 5px}
.accordion_title{background-image:url("img/btn_bg.jpg");background-repeat:repeat-x;background-position:0 0;border:1px solid #ddd;margin:0 0 1px 0;padding:8px 0 7px 10px;font-family:"Droid Sans",Helvetica,Arial,sans-serif;font-size:11px;color:#757575;text-shadow:0 1px 1px #fff;text-transform:uppercase;cursor:pointer}
.accordion_title:hover{background-position:0 -35px}
.accordion_title a img{width:16px;height:16px;margin:0 5px 0 -3px;padding:0;border:none;float:left}
.highlight{background-color:#ffffe0;padding:3px}
.button_link a{display:inline-block;border:none;cursor:pointer;padding:0 2em;margin:0;font-size:16px;line-height:1.5;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;color:#ccc;line-height:3em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #464646), color-stop(1, #3c3c3c));background:-webkit-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:-moz-linear-gradient(top, #464646 0%, #3c3c3c 100%);background:linear-gradient(top, #464646 0%, #3c3c3c 100%);color:#fff;}
.button_link a:hover,.button_link a:focus{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #4b4b4b), color-stop(1, #414141));background:-webkit-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:-moz-linear-gradient(top, #4b4b4b 0%, #414141 100%);background:linear-gradient(top, #4b4b4b 0%, #414141 100%)}
.button_link a:active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #323232), color-stop(1, #414141));background:-webkit-linear-gradient(top, #323232 0%, #414141 100%);background:-moz-linear-gradient(top, #323232 0%, #414141 100%);background:linear-gradient(top, #323232 0%, #414141 100%)}
.splitter{background:none;border-top:1px solid #e2e2e2;width:100%;height:1px;margin:15px 0 25px 0;padding:0;float:left}
.tipsy{font-family:"Droid Sans",Helvetica,Arial,sans-serif;color:#fff;padding:5px;font-size:10px;position:absolute;z-index:100000}
.tipsy a{font-family:"Droid Sans",Helvetica,Arial,sans-serif;color:#fff}
.tipsy-inner{padding:5px 8px 6px 8px;background-color:#000;color:#fff;max-width:200px;text-align:left;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-size:12px}
.tipsy-arrow{position:absolute;background:url("img/tipsy.gif") no-repeat top left;width:9px;height:5px}
.tipsy-n .tipsy-arrow{top:0;left:50%;margin-left:-4px}
.tipsy-nw .tipsy-arrow{top:0;left:10px}
.tipsy-ne .tipsy-arrow{top:0;right:10px}
.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-4px;background-position:bottom left}
.tipsy-sw .tipsy-arrow{bottom:0;left:10px;background-position:bottom left}
.tipsy-se .tipsy-arrow{bottom:0;right:10px;background-position:bottom left}
.tipsy-e .tipsy-arrow{top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right}
.tipsy-w .tipsy-arrow{top:50%;margin-top:-4px;left:0;width:5px;height:9px}
.QOverlay{background-image:url("img/trans_bg.png");background-repeat:repeat;z-index:9999}
.QLoader{background-color:#ff6900;height:2px}
#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:999999;overflow:hidden}
#cboxOverlay{position:fixed;width:100%;height:100%}
#cboxMiddleLeft,#cboxBottomLeft{clear:left}
#cboxContent{position:relative;overflow:hidden}
#cboxLoadedContent{overflow:auto}
#cboxLoadedContent iframe{display:block;width:100%;height:100%;border:0}
#cboxTitle{margin:0}
#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer}
#cboxOverlay{background:url("img/overlay.png") 0 0 repeat}
#colorbox{font-family:Helvetica,Arial,sans-serif;font-size:13px}
#cboxTopLeft{width:21px;height:21px;background:url("img/controls.png") -100px 0 no-repeat}
#cboxTopRight{width:21px;height:21px;background:url("img/controls.png") -129px 0 no-repeat}
#cboxBottomLeft{width:21px;height:21px;background:url("img/controls.png") -100px -29px no-repeat}
#cboxBottomRight{width:21px;height:21px;background:url("img/controls.png") -129px -29px no-repeat}
#cboxMiddleLeft{width:21px;background:url("img/controls.png") left top repeat-y}
#cboxMiddleRight{width:21px;background:url("img/controls.png") right top repeat-y}
#cboxTopCenter{height:21px;background:url("img/border.png") 0 0 repeat-x}
#cboxBottomCenter{height:21px;background:url("img/border.png") 0 -29px repeat-x}
#cboxContent{background:#fff}
#cboxLoadedContent{margin-bottom:28px}
#cboxTitle{position:absolute;bottom:4px;left:0;text-align:center;width:100%;color:#6b747d;text-shadow:1px 1px 0 #fff}
#cboxCurrent{position:absolute;bottom:4px;left:58px;color:#6b747d;text-shadow:1px 1px 0 #fff}
#cboxSlideshow{position:absolute;bottom:4px;right:30px;color:#6b747d;text-shadow:1px 1px 0 #fff}
#cboxPrevious{position:absolute;bottom:0;left:0;background:url("img/controls.png") -75px 0 no-repeat;width:25px;height:25px;text-indent:-9999px}
#cboxPrevious.hover{background-position:-75px -25px}
#cboxNext{position:absolute;bottom:0;left:27px;background:url("img/controls.png") -50px 0 no-repeat;width:25px;height:25px;text-indent:-9999px}
#cboxNext.hover{background-position:-50px -25px}
#cboxLoadingOverlay{background:url("img/loading_background.png") center center no-repeat}
#cboxLoadingGraphic{background:url("img/loading.gif") center center no-repeat}
#cboxClose{position:absolute;bottom:0;right:0;background:url("img/controls.png") -25px 0 no-repeat;width:25px;height:25px;text-indent:-9999px}
#cboxClose.hover{background-position:-25px -25px}
.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.tiny{font-size:10px}
.error{color:#f00}
.small{font-size:11px}
.alignleft{float:left}
.alignright:{float:right}
.fadein{visibility:hidden}
.nobox{border:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
#footer .one_quarter_last{float:left}
